<div class="responsive-header">
  <div class="vw60"><%= t('.title') %></div>
  <div class="vw10 center"><%= t('.published') %></div>
  <div class="vw10 center"><%= t('.visits_count') %></div>
  <div class="vw10 center"><%= t('.comments_count') %></div>
  <div class="vw20 center"><%= t('.actions') %></div>
</div>
