<% content_for :title, t('.dashboard') %>

<div class="col-12 mb-3">
  <% unless @pending_comments.empty? %>
    <h2 class="text-center h2 mb-4"><%= t('.pending_comments') %></h2>
    <div class="content mb-5">
      <%= render 'admin/comments/comments-list-header' %>
      <% @pending_comments.each do |comment| %>
        <%= render 'admin/comments/comments-list', comment: comment %>
      <% end %>
    </div>
  <% end %>

  <% unless @comments.empty? %>
    <h2 class="text-center h2 mb-4"><%= t('.last_comments') %></h2>
    <div class="content mb-5">
      <%= render 'admin/comments/comments-list-header' %>
      <% @comments.each do |comment| %>
        <%= render 'admin/comments/comments-list', comment: comment %>
      <% end %>
    </div>
  <% end %>

  <% unless @posts.empty? %>
    <h2 class="text-center h2 mb-4"><%= t('.last_posts') %></h2>
    <div class="content mb-5">
      <%= render 'admin/posts/posts-list-header' %>
      <% @posts.each do |post| %>
        <%= render 'admin/posts/posts-list', post: post %>
      <% end %>
    </div>
  <% end %>

  <% unless @drafts.empty? %>
    <h2 class="text-center h2 mb-4"><%= t('.last_drafts') %></h2>
    <div class="content mb-5">
      <%= render 'admin/posts/posts-list-header' %>
      <% @drafts.each do |draft| %>
        <%= render 'admin/posts/posts-list', post: draft %>
      <% end %>
    </div>
  <% end %>

    <% unless @max_visits.empty? %>
    <h2 class="text-center h2 mb-4"><%= t('.more_visited_posts') %></h2>
    <div class="content mb-5">
      <%= render 'admin/posts/posts-list-header' %>
      <% @max_visits.each do |post| %>
        <%= render 'admin/posts/posts-list', post: post %>
      <% end %>
    </div>
  <% end %>

  <% unless @max_comments.empty? %>
    <h2 class="text-center h2 mb-4"><%= t('.more_commented_posts') %></h2>
    <div class="content mb-5">
      <%= render 'admin/posts/posts-list-header' %>
      <% @max_comments.each do |post| %>
        <%= render 'admin/posts/posts-list', post: post %>
      <% end %>
    </div>
  <% end %>
</div>
