<% content_for :title, t('.posts_pages') %>

<% content_for :notice, raw(t('.posts_list_empty',
  href: link_to(t('.publish_something'), new_admin_post_path))) if @posts.empty? %>

<% unless @posts.empty? && @pages.empty? %>
  <div class="col-12 content mb-3">
    <ul class="nav nav-tabs" id="postsTab" role="tablist">
      <% unless @posts.empty? %>
        <li class="nav-item">
          <a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts"
            role="tab" aria-controls="posts" aria-selected="true"><%= t('.posts') %></a>
        </li>
      <% end %>
      <% unless @pages.empty? %>
        <li class="nav-item">
          <a class="nav-link" id="pages-tab" data-toggle="tab" href="#pages"
            role="tab" aria-controls="pages" aria-selected="false"><%= t('.pages') %></a>
        </li>
      <% end %>
    </ul>    
    <div class="tab-content" id="postsTabContent">
      <% unless @posts.empty? %>
        <div class="tab-pane fade <%= posts_active?(@posts) %>" id="posts"
          role="tabpanel" aria-labelledby="posts-tab">
          <%= render 'posts-list-header' %>
          <% @posts.each do |post| %>
            <%= render 'posts-list', post: post %>
          <% end %>
        </div>
      <% end %>
      <% unless @pages.empty? %>
        <div class="tab-pane fade <%= pages_active?(@posts, @pages) %>"
          id="pages" role="tabpanel" aria-labelledby="pages-tab">
          <%= render 'posts-list-header' %>
          <% @pages.each do |page| %>
            <%= render 'posts-list', post: page %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
