<% type = params[:type] || 'post' %>

<% content_for :title, t('.add_post') if type == 'post' %>
<% content_for :title, t('.add_page') if type == 'static' %>

<div class="col-10 mb-3">
  <h2 class="text-center h2 mb-4">
    <%= t('.add_post') if type == 'post' %>
    <%= t('.add_page') if type == 'static' %>
  </h2>
  <%= form_for [:admin, @post] do |f| %>
    <div class="content mb-5">
      <%= render 'form-header', post: @post, new_post: true %>
      <%= render 'form-es', f: f %>
    </div>
    <div class="content mb-5">
      <%= render 'form-en', f: f %>
    </div>
    <div class="content">
      <%= render 'form-common', f: f, type: type, new_post: true %>
    </div>
  <% end %>
</div>
