<% content_for :title, t('.edit_category') %>

<div class="col-10 mb-3">
  <h2 class="text-center h2 mb-4"><%= t('.edit_category') %></h2>
  <%= form_for @category, :url => admin_category_path do |f| %>
    <div class="content mb-5">
      <%= render 'form-header', category: @category, new_item: false %>
      <%= render 'form-es', f: f %>
    </div>
    <div class="content mb-5">
      <%= render 'form-en', f: f %>
    </div>
    <div class="content">
      <%= render 'form-common', f: f %>
    </div>
  <% end %>
</div>
