<% posts.each do |post| %>
  <div class="col-md-6 mb-4">
    <div class="list">
      <%= link_to post_path(id: post.slug) do %>
        <span class="date-badge">
          <%= post.published_at.strftime('%d/%m/%Y') %>
        </span>
        <span class="category-badge">
          <%= post.category.name %>
        </span>
        <%= render 'posts/cover', post: post %>
        <div class="list__content">
          <h2 class="list__title"><%= post.title %></h2>
          <p class="list__text"><%= post.excerpt %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
