<% content_for :social_networks,
  social_networks_links(
    @post.title,
    @post.excerpt,
    post_image_fullpath(@post)
  )
%>

<% content_for :title, @post.title %>

<%= render 'toolbar' %>

<%= render 'post' %>

<%= render 'social_buttons' %>

<% unless @post.static? %>
  <%= render 'user_profile', user: @post.user %>
<% end %>

<% if @post.comments.approved.count > 0 %>
  <div id="comments" class="mt-3 col-12 px-md-0">
    <h2 class="text-center mb-4"><%= t('.comments') %></h2>
    <ul class="no-padding">
      <%= comments_tree_for @comments %>
    </ul>
  </div>
<% end %>

<% if @post.opened? %>
  <%= render 'comments/form' %>
<% else %>
  <% if @post.post? %>
    <div class="alert alert-info col-12">
      <%= t('.closed_comments') %>
    </div>
  <% end %>
<% end %>
