<% content_for :title, t('.images') %>

<% unless @images.empty? %>
  <div class="col-12 content mb-3">
    <div class="responsive-header">
      <div class="vw20 center"><%= t('.image') %></div>
      <div class="vw30 center"><%= t('.title') %></div>
      <div class="vw40 center"><%= t('.description') %></div>
      <div class="vw16 center">
        <i class="fa fa-wrench" aria-hidden="true" data-toggle="tooltip"
          data-placement="top" title="<%= t('.actions') %>"></i>
      </div>
    </div>
    <% @images.each do |image| %>
      <div class="responsive-table">
        <div class="vw20 center show-up-lg">
          <%= image_tag image.image.url, :alt => image.title, :class => "no-radius" %>
        </div>
        <div class="vw30 first highlighted center"><%= image.title %></div>
        <div class="vw40"><%= image.description %></div>
        <div class="vw16 center">
          <%= link_to admin_image_path(id: image.id),
              :class => "btn btn-sm btn-info text-center",
              :id => "view-#{image.id}" do %>
            <i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip"
              data-placement="top" title="<%= t('.view') %>"></i>
          <% end %>
          <%= link_to edit_admin_image_path(id: image.id),
              :class => "btn btn-sm btn-primary text-center",
              :id => "edit-#{image.id}" do %>
            <i class="fa fa-edit" aria-hidden="true" data-toggle="tooltip"
              data-placement="top" title="<%= t('.edit') %>"></i>
          <% end %>
          <%= link_to admin_image_path(id: image.id),
              data: { confirm: t('.delete_confirm') }, :method => :delete,
              :class => "btn btn-sm btn-danger text-center",
              :id => "delete-#{image.id}" do %>
            <i class="fa fa-remove" aria-hidden="true" data-toggle="tooltip"
              data-placement="top" title="<%= t('.destroy') %>"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <% content_for :notice, raw(t('.images_list_empty',
    href: link_to(t('.add_one_image'), new_admin_image_path))) %>
<% end %>
