<% content_for :title, t('.images') %>

<div class="col-12 content mb-3">
  <% unless @images.empty? %>
    <div class="responsive-header">
      <div class="vw16 center"><%= t('.image') %></div>
      <div class="vw20 center"><%= t('.title') %></div>
      <div class="vw50"><%= t('.description') %></div>
      <div class="vw10 center"><%= t('.actions') %></div>
    </div>
    <% @images.each do |image| %>
      <div class="responsive-table">
        <div class="vw16 center show-up-lg">
          <%= image_tag image.image.url, :alt => image.name %>
        </div>
        <div class="vw20 first highlighted center"><%= image.name %></div>
        <div class="vw50"><%= image.description %></div>
        <div class="vw10 center">
          <%= link_to edit_admin_image_path(id: image.id),
              :class => "btn btn-sm btn-primary text-center" do %>
            <i class="fa fa-edit" aria-hidden="true" data-toggle="tooltip"
              data-placement="top" title="<%= t('.edit') %>"></i>
          <% end %>
          <%= link_to admin_image_path(id: image.id),
              data: { confirm: t('.delete_confirm') }, :method => :delete,
              :class => "btn btn-sm btn-danger text-center" do %>
            <i class="fa fa-remove" aria-hidden="true" data-toggle="tooltip"
              data-placement="top" title="<%= t('.destroy') %>"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="alert alert-danger" role="alert">
      <%= t('.images_list_empty') %>
      <%= link_to t('.add_one_image'), new_admin_image_path %>
    </div>
  <% end %>
</div>
