<% content_for :title, t('.add_image') %>

<div class="col-10 mb-3">
  <h2 class="text-center h2 mb-4"><%= t('.add_image') %></h2>
  <%= form_for [:admin, @image] do |f| %>
    <div class="content mb-5">
      <%= render 'form-header', image: @image, new_image: true %>
      <%= render 'form-es', f: f %>
    </div>
    <div class="content mb-5">
      <%= render 'form-en', f: f %>
    </div>
    <div class="content">
      <%= render 'form-common', f: f %>
    </div>
  <% end %>
</div>

