<% content_for :title, t('.users') %>

<div class="col-12 content mb-3">
  <div class="responsive-header">
    <div class="vw60"><%= t('.name') %></div>
    <div class="vw10 center"><%= t('.role') %></div>
    <div class="vw16 center"><%= t('.job') %></div>
    <div class="vw10 center">
      <i class="fa fa-wrench" aria-hidden="true" data-toggle="tooltip"
        data-placement="top" title="<%= t('.actions') %>"></i>
    </div>
  </div>
  <% @users.each do |user| %>
    <div class="responsive-table">
      <div class="vw60 highlighted"><%= user.name %></div>
      <div class="vw10 center"><%= user.translated_role %></div>
      <div class="vw16 center"><%= user.translated_job || "-" %></div>
      <div class="vw10 center">
        <%= link_to edit_admin_user_path(id: user.id),
            :class => "btn btn-sm btn-primary text-center",
            :id => "edit-#{user.id}" do %>
          <i class="fa fa-edit" aria-hidden="true" data-toggle="tooltip"
            data-placement="top" title="<%= t('.edit') %>"></i>
        <% end %>
        <% unless (user.admin? && admins_count == 1) || user.has_posts? %>
          <%= link_to admin_user_path(id: user.id),
              data: { confirm: t('.delete_confirm') }, :method => :delete,
              :class => "btn btn-sm btn-danger text-center",
              :id => "delete-#{user.id}" do %>
            <i class="fa fa-remove" aria-hidden="true" data-toggle="tooltip"
              data-placement="top" title="<%= t('.destroy') %>"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
