<% content_for :title, t('.courses') %>

<div class="col-12 content mb-3">
  <% unless @courses.empty? %>
    <div class="responsive-header">
    <div class="vw10 center"><%= t('.image') %></div>
    <div class="vw20 center"><%= t('.name') %></div>
    <div class="vw50"><%= t('.description') %></div>
    <div class="vw16 center"><%= t('.actions') %></div>
  </div>
  <% @courses.each do |course| %>
    <div class="responsive-table">
      <div class="vw10 center show-up-lg">
        <%= image_tag course.image.url, :alt => course.name %>
      </div>
      <div class="vw20 first highlighted center"><%= course.name %></div>
      <div class="vw50"><%= course.description %></div>
      <div class="vw16 center">
        <%= link_to course_path(id: course.slug),
            :class => "btn btn-sm btn-info text-center" do %>
          <i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip"
            data-placement="top" title="<%= t('.view') %>"></i>
        <% end %>
        <%= link_to edit_admin_course_path(id: course.id),
            :class => "btn btn-sm btn-primary text-center" do %>
          <i class="fa fa-edit" aria-hidden="true" data-toggle="tooltip"
            data-placement="top" title="<%= t('.edit') %>"></i>
        <% end %>
        <% if course.posts.empty? %>
          <%= link_to admin_course_path(id: course.id),
              data: { confirm: t('.delete_confirm') }, :method => :delete,
              :class => "btn btn-sm btn-danger text-center" do %>
            <i class="fa fa-remove" aria-hidden="true" data-toggle="tooltip"
              data-placement="top" title="<%= t('.destroy') %>"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-danger" role="alert">
    <%= t('.courses_list_empty') %>
    <%= link_to t('.add_one_course'), new_admin_course_path %>
  </div>
<% end %>
</div>
