<li class="nav-item <%= active?(homepage_path) %>">
  <%= link_to t('.home'), homepage_path, :class => 'nav-link' %>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="postsDropdown"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t('.posts_pages') %>
  </a>
  <div class="dropdown-menu m-0 rounded-0" aria-labelledby="postsDropdown">
    <%= link_to t('.posts_pages'), admin_posts_path,
      :class => "dropdown-item #{active?(admin_posts_path)}" %>
    <%= link_to t('.add_post'), new_admin_post_path(:type => :post),
      :class => "dropdown-item #{active?(new_admin_post_path(:type => :post))}" %>
    <%= link_to t('.add_page'), new_admin_post_path(:type => :page),
      :class => "dropdown-item #{active?(new_admin_post_path(:type => :page))}" %>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="postsDropdown"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t('.categories') %>
  </a>
  <div class="dropdown-menu m-0 rounded-0" aria-labelledby="postsDropdown">
    <%= link_to t('.categories'), admin_categories_path,
      :class => "dropdown-item #{active?(admin_categories_path)}" %>
    <%= link_to t('.add_category'), new_admin_category_path,
      :class => "dropdown-item #{active?(new_admin_category_path)}" %>
  </div>
</li>
<li class="nav-item <%= active?(admin_users_path) %>">
  <%= link_to t('.users'), admin_users_path, :class => 'nav-link' %>
</li>
