<li class="nav-item <%= active?(admin_dashboard_path) %>">
  <%= link_to t('.dashboard'), admin_dashboard_path, :class => 'nav-link' %>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="postsDropdown"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t('.posts_pages') %>
  </a>
  <div class="dropdown-menu m-0 rounded-0" aria-labelledby="postsDropdown">
    <%= link_to t('.posts_pages'), admin_posts_path,
      :class => "dropdown-item #{active?(admin_posts_path)}" %>
    <%= link_to t('.add_post'), new_admin_post_path(:type => :post),
      :class => "dropdown-item #{active?(new_admin_post_path(:type => :post))}" %>
    <%= link_to t('.add_page'), new_admin_post_path(:type => :static),
      :class => "dropdown-item #{active?(new_admin_post_path(:type => :static))}" %>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="postsDropdown"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t('.categories_courses') %>
  </a>
  <div class="dropdown-menu m-0 rounded-0" aria-labelledby="postsDropdown">
    <%= link_to t('.categories'), admin_categories_path,
      :class => "dropdown-item #{active?(admin_categories_path)}" %>
    <%= link_to t('.add_category'), new_admin_category_path,
      :class => "dropdown-item #{active?(new_admin_category_path)}" %>
    <%= link_to t('.courses'), admin_courses_path,
      :class => "dropdown-item #{active?(admin_courses_path)}" %>
    <%= link_to t('.add_course'), new_admin_course_path,
      :class => "dropdown-item #{active?(new_admin_course_path)}" %>
  </div>
</li>
<li class="nav-item <%= active?(admin_comments_path) %>">
  <%= link_to t('.comments'), admin_comments_path, :class => 'nav-link' %>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="postsDropdown"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t('.images') %>
  </a>
  <div class="dropdown-menu m-0 rounded-0" aria-labelledby="postsDropdown">
    <%= link_to t('.images'), admin_images_path,
      :class => "dropdown-item #{active?(admin_images_path)}" %>
    <%= link_to t('.add_image'), new_admin_image_path,
      :class => "dropdown-item #{active?(new_admin_image_path)}" %>
  </div>
</li>
<li class="nav-item <%= active?(admin_users_path) %>">
  <%= link_to t('.users'), admin_users_path, :class => 'nav-link' %>
</li>
