<header>
  <section id="header" class="container-fluid px-0">
    <div class="header">
      <%= link_to homepage_path, aria: { label: 'SargantanaCode' } do %>
        <%= render 'layouts/logo' %>
      <% end %>
    </div>
    <%= render 'layouts/menu' %>
  </section>
</header>

<% if notice.present? || content_for?(:notice) %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <%= notice || content_for(:notice) %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
    
<% if alert.present? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= alert %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
