<div class="menu-placeholder">
  <nav class="navbar navbar-expand-lg navbar-custom py-0 menu">
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarDropdown"
            aria-controls="navbarDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarDropdown">
      <ul class="navbar-nav mr-auto">
        <% if admin_zone? %>
          <%= render 'layouts/admin-links' %>
        <% else %>
          <%= render 'layouts/public-links' %>
        <% end %>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="langDropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= t('.languages') %>
          </a>
          <div class="dropdown-menu m-0 rounded-0" aria-labelledby="langDropdown">
            <%= link_to t('.english'), url_for(:locale => :en),
                :class => "dropdown-item #{current_locale?(:en)}" %>
            <%= link_to t('.spanish'), url_for(:locale => :es),
                :class => "dropdown-item #{current_locale?(:es)}" %>
          </div>
        </li>
        <% unless user_signed_in? %>
          <li class="nav-item <%= active?(new_user_session_path) %>">
            <%= link_to t('.login'), new_user_session_path, :class => 'nav-link' %>
          </li>
        <% else %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="postsDropdown"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t('.hello', name: current_user.name) %>
            </a>
            <div class="dropdown-menu dropdown-menu-right m-0 rounded-0" aria-labelledby="postsDropdown">
              <% if current_user.admin? %>
                <%= link_to t('.publish_post'), new_admin_post_path,
                  :class => "dropdown-item #{active?(new_admin_post_path)}" %>
                <div class="dropdown-divider"></div>
              <% end %>
              <%= link_to t('.edit_user'), edit_user_registration_path,
                :class => "dropdown-item #{active?(edit_user_registration_path)}" %>
              <div class="dropdown-divider"></div>
              <%= link_to t('.logout'), destroy_user_session_path,
                :method => :delete, :class => "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>  
  </nav>
</div>
