<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/favicon.png"/>
    <%= auto_discovery_link_tag(:rss, rss_url) %>
    <title><%= "#{content_for(:title)} – " if content_for?(:title) %><%= t('main.title') %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', defer: true  %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container mt-5 page">
      <div class="row <%= justify_content %>">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
